<!DOCTYPE html>
<html>

<head lang="es-ES">
    <meta charset="utf-8" />
    <title>Mis amigos - FaceBluff</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/general.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cabecera.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cuerpo_misAmigos.css" />
</head>

<body>

    <div class="contenedor">
        <div class="header">
            <div class="titulo">
                <h1>FaceBluff</h1>
            </div>
            <div class="nav">
                <div class="enlace perfil"> <a href="/users/sesion"> Perfil </a> </div>
                <div class="enlace amigos"> <a href="/amigos/mis_amigos"> Amigos </a> </div>
                <div class="enlace preguntas"> <a href="preguntas.html"> Preguntas </a> </div>
                <div class="enlace desconectar"> <a href="/users/signout"> Desconectar </a> </div>
                <div class="enlace puntuacion">
                    <div class="user_icon">
                    <% if(user.img !== null){ %>
                        <img class="icon" src="/users/imagen/<%= user.id %>"> <% } else { %>
                        <img class="icon" src="/users/no_profile_pic">
                        <% } %>
                    </div>
                    <div class="ptos">
                        <%= user.puntos %> ptos</div>
                </div>
            </div>
        </div>

        <div class="body">
            <div class="contenedor_solicitudes">
                <div class="titulo_solicitudes"> Solicitudes de amistad </div>
                <% if(peticiones !== undefined && peticiones.length>0) { %>
                <ul class="lista_solicitudes">
                    <% peticiones.forEach(function(solicitud){ %>
                    <li>
                        <div class="solicitud">
                            <div class="info_user">
                                <% if(solicitud.imagen_perfil !== null){ %>
                                    <img class="icon" src="/users/imagen/<%= solicitud.action_id_user %>"> <% } else { %>
                                    <img class="icon" src="/users/no_profile_pic">
                                    <% } %>   
                                <div class="nombre_solicitud">
                                    <%= solicitud.nombre_completo %>
                                </div>
                            </div>
                            <div class="botones">
                                <button class="aceptar"> Aceptar </button>
                                <button class="rechazar"> Rechazar </button>
                            </div>
                        </div>
                    </li>
                    <% }); %>
                </ul>
                <% } %>
                <div class="contenedor_busqueda">
                    <div class="titulo_busqueda"> Búsqueda de amigos </div>
                    <form class="barra_busqueda" method="post" action="/amigos/busqueda_amigos" enctype="multipart/form-data">
                        <div class="busqueda"> Búsqueda por nombre: </div>
                        <input type="text" name="name_user" placeholder=" Buscar...">
                        <button type=submit class="boton_aceptar"> Buscar </button>
                    </form>
                </div>

                <div class="contenedor_amigos">
                    <div class="titulo_amigos"> Mis amigos </div>
                    <% if(amigos !== undefined && amigos.length>0) { %>
                    <ul class="lista_amigos">
                        <% amigos.forEach(function(amigo){ %>
                        <li>
                            <div class="amigo">
                                <% if(amigo.imagen_perfil !== null){ %>
                                    <img class="icon" src="/users/imagen/<%= amigo.id_user %>"> <% } else { %>
                                    <img class="icon" src="/users/no_profile_pic">
                                    <% } %>
                                <div class="nombre_amigo">
                                    <%= amigo.nombre_completo %>
                                </div>
                            </div>
                            
                        </li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>


</body>

</html>