<!DOCTYPE html>
<html>

<head lang="es-ES">
    <meta charset="utf-8" />
    <title>Responder Preguntas - FaceBluff</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/general.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cabecera.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cuerpo_preguntas.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cuerpo_responder_pregunta.css" />
</head>

<body>

    <div class="contenedor">
        <div class="header">
            <div class="titulo">
                <h1>FaceBluff</h1>
            </div>
            <div class="nav">
                <div class="enlace perfil"> <a href="/users/sesion"> Perfil </a> </div>
                <div class="enlace amigos"> <a href="/amigos/mis_amigos"> Amigos </a> </div>
                <div class="enlace preguntas"> <a href="/preguntas/preguntas"> Preguntas </a> </div>
                <div class="enlace desconectar"> <a href="/users/signin"> Desconectar </a> </div>
                <div class="enlace puntuacion">
                    <div class="user_icon">
                        <% if(user.img !== null){ %>
                        <img class="icon" src="/users/imagen/<%= user.id %>">
                        <% } else { %>
                        <img class="icon" src="/users/no_profile_pic">
                        <% } %>
                    </div>
                    <div class="ptos">
                        <%= user.puntos %> ptos</div>
                </div>
            </div>
        </div>

        <div class="body">

            <div class="contenedor_info_respuestas">
                <div class="titulo_pregunta_a_responder">
                    <%= pregunta.texto %>
                </div>
                <div class="contenedor_respuestas">
                    <ul class="lista_respuestas">

                        <% if(respuestas !== null) { %>
                        <% respuestas.forEach(function(respuesta) { %>
                        <li>
                            <div class="respuesta">
                                <label class="eleccion">
                                    <!--<input type="radio" name="respuesta">
                                                <span class="checkmark"></span>-->
                                    <%= respuesta.texto %>
                                </label>

                                <form class="responder_pregunta" method="post" action="/preguntas/responder_pregunta">
                                    <input type="hidden" name="respuesta_texto" value="<%= respuesta.texto %>">
                                    <input type="hidden" name="pregunta_id" value=<%= pregunta.id %>>
                                    <input type="hidden" name="pregunta_texto" value="<%= pregunta.texto %>">

                                    <button class="boton_responder" type="submit"> Responder </button>
                                </form>
                            </div>
                        </li>
                        <% }); %>
                        <% } %>

                    </ul>
                </div>
                <div class="contenedor_añadir_pregunta">
                    <div class="botones">
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>


</body>

</html>