<!DOCTYPE html>
<html>

<head lang="es-ES">
    <meta charset="utf-8" />
    <title>
        <%= user.nombre_completo %> - FaceBluff</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/general.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cabecera.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cuerpo_sesion.css" />
</head>

<body>
    <div class="contenedor">
        <div class="header">
            <div class="titulo">
                <h1>FaceBluff</h1>
            </div>
            <div class="nav">
                <div class="enlace perfil"> <a href="/users/sesion"> Perfil </a> </div>
                <div class="enlace amigos"> <a href="/amigos/mis_amigos"> Amigos </a> </div>
                <div class="enlace preguntas"> <a href="/preguntas/preguntas"> Preguntas </a> </div>
                <div class="enlace desconectar"> <a href="/users/signout"> Desconectar </a> </div>
                <div class="enlace puntuacion">
                    <div class="user_icon">
                        <% if (es_amigo) { %>
                        <% if(user_sesion.img){ %>
                        <img class="icon" src="/users/imagen/<%= user_sesion.id %>">
                        <% } else { %>
                        <img class="icon" src="/users/no_profile_pic">
                        <% } %>
                        <% } else { %>
                        <% if(user.imagen_perfil){ %>
                        <img class="icon" src="/users/imagen/<%= user.id_user %>">
                        <% } else { %>
                        <img class="icon" src="/users/no_profile_pic">
                        <% } %>
                        <% } %>

                    </div>
                    <div class="ptos">
                        <%= user.puntos %> ptos</div>
                </div>
            </div>
        </div>
        <div class="body">

            <div class="contenedor_ventana">

                <div class="titulo_ventana">
                    <h2>Tu perfil</h2>
                </div>

                <div class="contenedor_datos">
                    <div class="imagen_usuario">
                        <% if(user.imagen_perfil){ %>
                        <img src="/users/imagen/<%= user.id_user %>">
                        <% } else { %>
                        <img src="/users/no_profile_pic">
                        <% } %>
                    </div>
                    <div class="datos">
                        <div class="datos">
                            <div class="elem nombre_usuario">
                                <h3>
                                    <%= user.nombre_completo %>
                                </h3>
                            </div>
                            <div class="elem edad_usuario">
                                <h4>
                                    <%= user.edad %> años </h4>
                            </div>
                            <div class="elem sexo_usuario">
                                <h4>
                                    <%= user.sexo %>
                                </h4>
                            </div>
                            <div class="elem puntos_usuario">
                                <h4>
                                    <%= user.puntos %> puntos</h4>
                            </div>
                        </div>

                        <div class="boton">
                            <%if(!es_amigo){ %>
                            <button class="boton_aceptar" onclick="location.href='/users/modificar_perfil'"> Modificar
                                perfil
                            </button>
                            <% } %>
                        </div>

                    </div>
                </div>
            </div>
            <% if(notificaciones !== undefined && notificaciones.length>0) { %>
            <div class="contenedor_notificaciones">
                <div class="titulo_notificacion">
                    <h2>Notificaciones</h2>
                </div>
                <div class="contenedor_datos_notificaciones">

                    <ul class="lista_amigos">
                        <% notificaciones.forEach(function(amigo){ %>
                        <li>
                            <div class="amigo">

                                <% if(amigo.imagen_perfil !== null){ %>
                                <img class="icon" src="/users/imagen/<%= amigo.id_user %>">
                                <% } else { %>
                                <img class="icon" src="/users/no_profile_pic">
                                <% } %>
                                <div class="info">
                                    <p>
                                        <%= amigo.nombre_completo %> ha
                                        <% if (amigo.correct === 0) { %>
                                        fallado
                                        <% } else { %>
                                        acertado
                                        <% } %>
                                        la pregunta: "
                                        <%= amigo.texto_pregunta %> ".
                                        <br />
                                        Respondió: "
                                        <%= amigo.texto_respuesta %> "
                                        <br />
                                        La respuesta correcta era: "
                                        <%= amigo.respuesta_correcta %> "
                                    </p>
                                </div>
                            </div>

                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <% } %>
        </div>
</body>

</html>